/* video.component.css */
/* .video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .video-container {
    position: relative;
    width: 50vw; /* 50% of the viewport width */
    height: 50vh; /* 50% of the viewport height */
    margin: auto; /* Center the container */
  }
  
  #video-frame {
    width: 100%;
    height: 100%;
  }
  
  #overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through to the iframe */
  }
  