<!-- camera.component.html -->
<div class="container">
  
  <div class="camera-section">
    <mat-card>
      <h2>Camera Management</h2>

      <form [formGroup]="cameraForm" (ngSubmit)="saveCamera()">
        <mat-form-field appearance="fill">
          <mat-label>RTSP URL</mat-label>
          <input matInput id="rtspUrl" formControlName="rtspUrl" />
        </mat-form-field>

        <div class="buttons">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditing ? 'Update' : 'Add' }} Camera
          </button>
          <button mat-button type="button" (click)="resetForm()">Cancel</button>
        </div>
      </form>
    </mat-card>

    <mat-list>
      <mat-list-item *ngFor="let camera of cameras">
        {{ camera.rtspUrl }}
        <button mat-icon-button color="primary" (click)="editCamera(camera)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCamera(camera.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="playStream(camera.rtspUrl)">
          <mat-icon >play_circle_outline</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="camera-section">
    <mat-card>
      <h2>Select Analytics Settings</h2>

        <mat-form-field appearance="fill">
          <mat-label>Analytics Type</mat-label>
          <input matInput id="analyticsType" [value]="analyticsType"/>
        </mat-form-field>
    </mat-card>

    <mat-list>
      <mat-list-item >
        FaceDetection
        <button mat-icon-button color="warn" (click)="setAnalyticsType('FaceDetection')">
          <mat-icon >play_circle_outline</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item >
        ObjectDetection
        <button mat-icon-button color="warn" (click)="setAnalyticsType('ObjectDetection')">
          <mat-icon >play_circle_outline</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item >
        NumberPlateDetection
        <button mat-icon-button color="warn" (click)="setAnalyticsType('NumberPlateDetection')">
          <mat-icon >play_circle_outline</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>


    <div class="buttons">
      <button mat-raised-button color="primary" type="submit">
        {{ isEditing ? 'Start' : 'Stop' }} Analytics
      </button>
      <button mat-button type="button" (click)="resetForm()">Cancel</button>
    </div>


  </div>



  <div class="video-section">
    <app-video [streamUrl]="selectedStream"></app-video>
  </div>
</div>
